
.font-link{
font-family: 'Baloo Bhaijaan 2', cursive;

}
.ContainerF{
  border: 2px solid black;
  border-radius: 15px;
  padding:32px;
  width: 300px;
  background-color: white;
}
.ContainerF2{
  border: 2px solid black;
  border-radius: 15px;
  padding:32px;
  width: 309px;
  background-color: white;

}
.btn{
  color: white;
  background: dodgerblue;
  width: 197px;
  padding: 10px;
}
.mid{
  padding:31px;
}
.mid2{
  padding: 66px;

}
.mid3{
  padding: 108px;

}
.signC{
  padding:"122px"
}
.err{
  color:red;
}
.FormC.Field{
  padding: 23px;  
}
.Fc{
  padding: 05px;
  width:266px
}
.Lc{
  text-align: left;
}
.alignC{
  
}
